
# Python
__pycache__/
*.py[cod]
*.pyo


# Virtual Environments
venv/
.env/
.env*/
*.conda


# IDEs / Editors
.vscode/
.idea/
*.iml


# Data (large files)
dataset/
data/
data_frames/
data_raw/


# Model Weights
*.pt
*.pth


# OS / System Files
.DS_Store
Thumbs.db


# Logs
*.log
